html {
  font-family: Arapey, serif;
  text-align: left;
  background-color: #70ccc4;
}

div {
  margin-top: 5em;
}

p {
  color: #fff;
  margin-bottom: 0;
}

.word .name {
  display: block;
}

.word {
  color: #ad0344;
}

.quote {
  color: 000;
}

@media only screen and (min-width: 60em) {

  html {
    text-align: center;
  }

  div {
    margin-top: 2em;
  }

  .word:hover {
    color:
  }

  .quote {
    display: inline;
  }

}

@media only screen and (min-width: 90em) {

  html {
    text-align: center;
  }

  .word:hover {
    color:
  }

  quote {
    display: inline;
  }

}
